.header
{
    height : 55px;
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    position : fixed;
    top: 0;
    right : 0;
    left : 0;
    background-color : white;
    border-bottom-width : 1px;
    border-bottom-style : solid;
    border-bottom-color : rgb(187, 187, 187);
    z-index : 1;
}
.left-section
{
    display : flex;
    align-items: center;
}
.middle-section
{
    flex : 1;
    margin-left : 70px;
    margin-right : 30px;
    max-width : 700px;
    display : flex;
    align-items : center;
}
.right-section
{
    
    width : 250px;
    display : flex;
    align-items : center;
    justify-content: space-between;
    margin-right : 10px;
    flex-shrink : 0;
}
.ham
{
    height : 25px;
    margin-left : 25px;
    margin-right : 25px;
}
.you
{
    height : 25px;
}
.search
{
 height : 30px;
 margin-left : -3px;
 margin-top : 2px;
 
}
.voice
{
     height : 30px;
     margin-top : 5px;
     margin-left: -1px; 
}
.text
{
    height : 35px;
    flex:1;
    padding-left : 15px;
    font-size : 18px;
    border-width  : 1px;
    border-style : solid;
    border-color : gray;
    border-radius : 20px 0 0 20px;
    margin-right : -1px;
    box-shadow : inset 1px 2px 3px rgba(0,0,0,0.05);
    width : 0;    
}
.text::placeholder{
       font-family : "Roboto";
       font-size : 18px
}
.sea-but
{
    height : 39px;
    width : 60px;
   border-width : 1px;
    border-width : 1px;
    border-radius : 0 20px 20px 0;
    border-color : gray;
    border-style : solid;
    background-color : rgb(238, 228, 228);
    position : relative;
    cursor : pointer;
}
.youtube1
{
    position : relative;
    cursor : pointer;
}
.create
{
    position : relative;
    cursor : pointer;
    margin-top : 3px;
}
.app-icon
{
    position : relative;
    cursor : pointer;
    margin-top : 3px;
}


.tooltip,.tooltip-voice,.tooltip-create,.tooltip-notification,
.tooltip-apps,.tooltip-you
{
    position : absolute;
    background-color: lightgray;
    padding-left : 10px;
    padding-right : 10px;
    padding-top : 4px;
    padding-bottom : 4px;
    font-family : "Roboto";
    font-size : 15px;
    border-radius : 4px;
    bottom : -32px;
    left : 3px;
    opacity : 0;
    transition : opacity 0.15s;
    pointer-events : none;
    white-space: nowrap;
    margin-left : -5px;
}
.sea-but:hover .tooltip,.voice-but:hover .tooltip-voice,.create:hover .tooltip-create,
.notification-icon:hover .tooltip-notification,
.app-icon:hover .tooltip-apps,.youtube1:hover .tooltip-you
{
    opacity : 1;
}
.voice-but
{
    margin-left : 15px;
    border-radius : 40px;
    border-width : 0;
    height : 40px;
    width : 40px;
    background-color : rgb(238, 228, 228);
    position : relative;
    cursor : pointer;
}
.tooltip-voice
{
    margin-left : -60px;
}
.tooltip-create
{
    margin-left : -16px;
}
.tooltip-notification
{
    margin-left : -35px;
}
.tooltip-apps
{
    margin-left : -38px;
}
.tooltip-you
{
    margin-left : 3px;
    margin-bottom : -5px;
}


.not,.pic,.app,.upload
{
    height : 30px;
}
.pic{
   border-radius : 20px;
   cursor : pointer;
}
.notification-icon
{
    position : relative;
    margin-bottom : -5px;
    cursor : pointer;
}
.not-design
{
    position : absolute;
    background-color : rgb(184, 40, 40);
    font-family : "Roboto";
    font-size : 10px;
    top : -3px;
    right : -1px;
    padding-top : 3px;
    padding-bottom : 3px;
    padding-right : 6px;
    padding-left : 6px;
    border-radius : 14px;
    color: white;
}
.hamburger-icon
{
    position : relative;
}
.b 
{
    height : 38px;
    width : 38px;
    border-radius : 25px;
    border-width : 0;
    background-color : gray;
    position : absolute;
    bottom : 0;
    right : 23px;
    opacity : 0.3;
    bottom :-2px;
    left : 18.7px;
    opacity : 0;
     cursor: pointer;
}
.hamburger-icon:hover .b
{
    opacity : 0.29;
}