 .image
            {
               width : 100%;
               
            }
            
            .div1
            {
                width : 300px;   
    
            }
            
            .bio
            {
                width : 35px; 
                border-radius : 30px; 
            }
            .para
            {
                margin-top : 0;
                font-size: 15px;
                font-weight : 500;
                line-height : 20px;
                margin-bottom : 7px;
                margin-left : 10px;
            }
            .row1 
            {
                margin-bottom : 12px;
                position : relative;
                cursor : pointer;
            }
          .author,.stats
          {
            font-size : 12px;
            color : rgb(96,96,96);
            margin-left : 10px;
          }
          .author{
            margin-bottom : 4px;
          }
          .picinfo-grid
          {
            display : grid;
            grid-template-columns : 50px 1fr;
            margin-top : -2px;
          }
          .grid 
          {
            display : grid;
            grid-template-columns : 1fr 1fr 1fr 1fr 1fr;
            column-gap : 10px;
            row-gap : 25px;
          }
          @media(max-width:750px)
          {
            .grid
            {
              grid-template-columns: 1fr 1fr;
            }
          }
          @media(min-width:751px) and (max-width:1050px)
          {
            .grid
            {
              grid-template-columns: 1fr 1fr 1fr;
            } 
          }
          @media(min-width:1051px)
          {
            .grid
            {
              grid-template-columns: 1fr 1fr 1fr 1fr;
            }
          }

          .time
          {
            background-color : black;
            color : white;
            font-family : "Roboto";
            position : absolute;
            bottom : 12px;
            right : 7px;
            font-size : 14px;
            padding : 4px;
            border-radius : 2px;
            font-weight : 400;
          }
          .channel-info 
          {
            margin-left : -9px;
          }
          .channel-pic
          {
            cursor : pointer;
          }
          .pic 
          {
            width : 100%;
          }
          .img-pic
          {
            height : 35px;
            width : 35px;
           border-radius : 30px;
           margin-top : 2px;
          }